body {
  background-color: #000;
  color: white;
}

.main_div {
  width: 900px;
  margin: 0 auto;
  display: flex;
 } 

.main_div td {
  width: 300px;
	height: 300px;
  border: 1;
}	

.div_red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 20px;
}

.div_green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 20px;
}

.div_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 20px;
}

.div_grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 20px;
}

.div_yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 20px;
}




	
